<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h5>Employee List</h5>
      </div>
      <div class="card-body">
       
          <!-- <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Phone</th>
                    <th>Employee Address</th>
                    <th>Employee Salary</th>
                  </tr>
                </thead>
                <tbody>
  
                </tbody>
              </table>
            </div>
          </div> -->
    
  
 
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-success">
          New Employee
        </div>
        <div class="card-body">
          <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No.</th>
                  <th>Employee ID</th>
                  <th>Employee Name</th>
                  <th>Employee Email</th>
                  <th>Employee Phone</th>
                  <th>Employee Address</th>
                  <th>Employee Salary</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.empId }}</td>
                    <td>{{ item.empName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.mobile }}</td>
                    <td>{{ item.empAddress }}</td>
                    <td>{{ item.empSalary }}</td>
                    <td><button class="btn btn-primary" (click)="onEdit(item)">Edit</button></td>
                    <td><button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button></td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <div class="row">
          <form [formGroup]="employeeForm" >
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" formControlName="empName" class="form-control" placeholder="Enter Employee Name" />
              <div class="text-danger">
                @if(employeeForm.controls['empName'].errors?.['required'] && employeeForm.controls['empName'].touched) {
                  <span>Employee Name is required</span>
                }
              </div>
          <div class="col-12">
            <label for="">Salary</label>
            <input type="text" formControlName="empSalary" class="form-control" placeholder="Enter Employee Salary" />
      </div>
      <div class="col-6">
        <label for="">Email</label>
        <input type="text" formControlName="email" class="form-control" placeholder="Enter Employee Email" />
  </div>
  <div class="col-6">
    <label for="">Mobile</label>
    <input type="text" formControlName="mobile" class="form-control" placeholder="Enter Employee Mobile" />
</div>

<div class="col-12">
  <label for="">Address</label>
  <textarea  formControlName="empAddress" class="form-control" placeholder="Address"></textarea>
</div>
        <div class="col-6">
  <label for="">PinCode</label>
  <input type="text" formControlName="pinCode" class="form-control" placeholder="Enter the PinCode" />
</div>
    </div>
    <div class="row pt-2">
      <div class="col-6 text-center mt-2">
        @if(employeeForm.controls['empId'].value=='1') {
          <button class="btn btn-primary" (click)="onSave()">Save Employee</button>
        } @else {
          <button class="btn btn-warning" (click)="onUpdate()">Update Employee</button>
        }
        
  
      </div>
      <div class="col-6 text-center mt-2">
        <button class="btn btn-secondary">Reset</button>
  
      </div>
    </div>
    
          

      
        </form>
      </div>
        
  </div>
</div>
</div>
